<?php
	// IPN adapter settings
	$settings = [
		"NEWSLETTER_LIST_ID" => 1,
		"COURSE_LIST_ID_12345" => 42,
		"DIGISTORE_SECRET" => "digistore-secret",
		"BREVO_SECRET" => "brevo-api-key",
		"LOG_VIEWER_KEY" => "some-secret-key"
	];
?>