<?php
// IPN adapter settings
$settings = [
	"AddToNewsLetterList" => true,
	"NEWSLETTER_LIST_ID" => 1,
    "COURSE_LIST_ID_12345" => 42,
	"DIGISTORE_SECRET" => "digistore-secret",
	"BREVO_SECRET" => "brevo-api-key"
];
?>